/*fuente*/
@font-face{
    font-family: 'Gulfs Display';
    src: url(../font/GulfsDisplay-Normal.ttf) format('ttf'),
    url(../font/GulfsDisplay-Normal.woff) format('woff'),
    url(../font/GulfsDisplay-Normal.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}
/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Gulfs Display', sans-serif;
}
.header {
    width: 100%;
    height: 5vh;
    background-color: pink;
}
.header .header_nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    gap: 3rem;   
}
.header .header_nav a {
    color: black;
    font-family: 'Gulfs Display', sans-serif; 
    font-weight: 900;
    font-size: 1.5rem;
}
.header .header_nav img {
    width: 20px;
    height: auto;
}
.menu-icon {
    display: none; /* Oculta el icono del menú por defecto */
}
.menu-icon img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.contenedor {
    width: 100%;
    height: auto;
}
.inicio {
    width: 100%;
    height: 95vh;
    background: linear-gradient(to top, yellow 50%, pink 50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
    grid-template-rows: 1fr 1fr 1fr;    /* Tres filas iguales */
    gap: 10px;                          /* Espacio entre celdas */
    padding: 20px;
}

/* Ocultar el menú móvil por defecto */
.mobile-nav {
    display: none;
}

/* Mostrar el menú móvil cuando está activo */
.mobile-nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 0;
    width: 100%;
    height: auto;
    background-color: pink;
    gap: 2rem;
    padding: 20px 0;
}

/* Posiciona cada elemento en la cuadrícula */
.imgSecunda {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: start;
    justify-content: start;
}
.imgSecunda img {
    width: 100%;
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
}

.titulo {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}
.titulo h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: blue;
}

.imgPrimera {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: start;
    justify-content: center;
}
.imgPrimera img {
    width: 100%;
    max-width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 10rem;
}

.imgTercera {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: end;
    justify-content: center;
}
.imgTercera img {
    width: 100%;
    max-width: 250px;
    height: 270px;
    object-fit: cover;
    border-radius: 10%;
}
.Nosotros{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    font-family: 'Anybody', sans-serif;
}
.Nosotros .nosotrosHeader {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-weight: 900;
}
.Nosotros .nosotrosHeader .nosotrosHeaderDerecha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.Nosotros .nosotrosHeader .nosotrosHeaderDerecha img{
    width: 20px;
}

.nosotrosContenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Distribuye en columnas de mínimo 300px */
    gap: 20px;
    padding: 20px;
}

.nosotrosContenedor .nosotrosTexto {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.nosotrosContenedor .nosotrosTexto h2{
    font-size: 3rem;
    font-weight: 100;
    color: blue;
}
.nosotrosContenedor .nosotrosTexto .nosotrosFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nosotrosContenedor .nosotrosTexto .nosotrosFooter h3{
    font-size: 2.5rem;
    font-weight: 900;
}
.nosotrosImagen{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nosotrosImagen img {
    width: 25rem;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transform: rotate(-5deg);
}
.nosotrosFin{
    width: 100%;
    height: 5%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nosotrosFin img{
    width: 20px;
}
/*-----------------------------------------------------------------*/
.Galería{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Galería img {
    width: 220px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.Galería .imgArriba {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x:scroll;
    background-color: white;
    overflow-y: hidden;
}
.Galería .imgAbajo {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x: scroll;
    background-color: red;
    overflow-y: hidden;

}
.Precios {
    display: grid;
    grid-template-rows: 50% 50%; /* Cada fila ocupa el 50% de la altura */
    height: 100vh; /* La sección ocupa el 100% de la altura de la pantalla */
    gap: 10px; /* Espacio entre filas */
}

.preciosArriba{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas iguales */
}
.preciosArriba .part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
}
.preciosArriba .part1 .part1Titulo{
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    height: 50%;
    border: 1px solid black;
    color: red;
    background-color: pink;
}
.preciosArriba .part1 .part1Horas{
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.preciosArriba .part1 .part1Horas .part1HorasTitulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    color: blue;
    background-color: pink;
}
.preciosArriba .part1 .part1Horas .part1HorasTitulo .part1HorasNumero{
    border: 1px solid black;
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
}
.preciosArriba .part1 .part1Horas .iconBarra{
    width: 100%;
    background-color: pink;
}
.preciosArriba .part1 .part1Horas .iconBarra img{
    width: 45px;
}
.preciosArriba .part1 .part1Horas .iconBarra .barra{
    width: 100%;
    border: 1px solid black;
    background-color: yellow;
    width: 80%;
    height: 10px;
}
.PreciosAbajo {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cuatro columnas iguales */
    gap: 10px; /* Espacio entre columnas */
    padding: 10px;
}

.preciosArriba div,
.PreciosAbajo div {
    background-color: #f5f5f5; /* Color de fondo para visualizar los divs */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.preciosArriba .sessionCompromiso{
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.preciosArriba .sessionCompromiso .sessionCompromisoArriba {
    background-color: yellow;
    color: red;
    font-size: 1.5rem;
    font-weight: 900;
    gap: 1rem;
}
.sessionCompromiso .sessionCompromisoArriba .sessionCompromisoSigno{
    background-color: red;
    color: yellow;
    border-radius: 50%;
    padding: 0 0.5rem;
}
.sessionCompromisoDibujo{
    width: 50%;
    border-radius: 10rem !important;
    background-color: red !important;
    display: flex !important;
    align-items: center;
    justify-content: start !important;
}
.sessionCompromisoAbajo{
    background-color: yellow !important;
    color: red !important;
    font-size: 1.5rem;
    font-weight: 900;
}
.video{
    background-color: white !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.preciosArriba .video .videoArriba {
    background-color: white;
    color: blue;
    font-size: 1.5rem;
    font-weight: 900;
    gap: 1rem;
}
.video .videoArriba .videoSigno{
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 0 0.5rem;
}
.videoDibujo{
    width: 50%;
    border-radius: 10rem !important;
    background-color: pink !important;
    display: flex !important;
    align-items: center;
    justify-content: start !important;
}
.videoAbajo{
    background-color: white !important;
    color: blue !important;
    font-size: 1.5rem;
    font-weight: 900;
}
.soloDigital{
    background-color: blue !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.preciosArriba .soloDigital .soloDigitalArriba {
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    gap: 1rem;
}
.soloDigital .soloDigitalArriba .soloDigitalSigno{
    background-color: white;
    color: blue;
    border-radius: 50%;
    padding: 0 0.5rem;
}
.soloDigitalDibujo{
    width: 50%;
    border-radius: 10rem !important;
    background-color: blue !important;
    display: flex !important;
    align-items: center;
    justify-content: start !important;
}
.soloDigitalAbajo{
    background-color: blue !important;
    color: white !important;
    font-size: 1.5rem;
    font-weight: 900;
}
.cabina{
    background-color: yellow !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cabina .cabinaArriba{
    background-color: yellow !important;
    color: blue;
    font-size: 1.5rem;
    font-weight: 900;
    gap: 1rem;
}
.cabina .cabinaArriba .cabinaSigno{
    background-color: blue !important;
    color: yellow !important;
    border-radius: 50%;
    padding: 0 0.5rem;
}
.cabinaDibujo{
    width: 50%;
    border-radius: 10rem !important;
    background-color: yellow !important;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
}
.cabinaAbajo{
    background-color: yellow !important;
    color: blue !important;
    font-size: 1.5rem;
    font-weight: 900;
}

.region{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black !important;
}
.regionText{
    color: white !important;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    width: 100%;
    background-color: black !important;
}
.TotalPrecios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, pink 50%, red 50%)
}
.TotalPrecios .total{
    background-color: red;
    width: 100%;
    height: 50%;
    display: flex !important;
    flex-direction: column !important;
    font-size: 1.5rem;
    font-weight: 900;
}
.TotalPrecios .envio{
    background-color: pink;
    width: 100%;
    height: 50%;
    display: flex !important;
    flex-direction: column !important;
    font-size: 1.5rem;
    font-weight: 900;
}
/*fuentes*/
h1, h2 {
    font-family: 'Gulfs Display', sans-serif;
}
.last_tittle {
    font-family: 'Gulfs Display', sans-serif;
    color: blue;
    font-size: 4vw;
}
.numero_final{
    font-family: 'Gulfs Display', sans-serif;
    font-size: 3rem;
    color: orangered;
}

.Contactos{
    display: grid;
    background-color: pink;
    border-top: blue;
    grid-template-columns: 50% 50%; /* Cada fila ocupa el 50% de la altura */
    height: 100vh; /* La sección ocupa el 100% de la altura de la pantalla */
    gap: 10px; /* Espacio entre filas */
    align-items: center;
    justify-items: center;
}
.dibujo{
    display: grid;
    grid-template-rows: 20px 20px 20px;
}
.pareja {
    grid-column: 1;
    grid-row: 2;
    z-index: 5;
    
}
.musica{
    grid-column: 1
    


}
.yay{
    grid-column: 1;
    position: relative;
    left: 20vh;
    top: -13vh;

}
.destellos{
    grid-column: 1;
    position: relative;
    left: 45vh;
    top: 10vh;
}
.anillos{
    grid-column: 1;
    position: relative;
    left: 20vw;
    top: 8vh;  
}

/*-------------------------------------------------------------------------*/
.textoFecha{
    grid-column: 2;
}
.flecha_naranja{
    display: flex;
    justify-content: end;
    position: relative;
    top: -3.5vh;
    width: 4.5vw;
    height: 4.5vh;
    right: -15vw;
    
}
.flecha_rosa{
    display: flex;
    justify-content: end;
    position: relative;
    justify-content: end;
    border-radius: 50%;
    border: 1px solid black;
    width: 3.5vw;
    height: 3.5vw;
    right: -22vw;
    top: -9.5vh;
    background-color: orangered;
    align-content: center;
    justify-content: center;

    
}
.lineanaranja{
    color: orangered;
    size: rem;
    display: flex;
    justify-content: center;
    position: relative;
    top: -10vh;
}

.cajita_final{
    
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    background-color: #f5f5f5;
    border: 1px solid black;
    width: 700px;
    
}
.cajita1{
    grid-column: 1;
    background-color: #f5f5f5;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cajita2{
    grid-column: 2;
    background-color: #f5f5f5;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cajita3{
    grid-column: 3;
    background-color: #f5f5f5;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo_facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-color: aquamarine;

}

.cajita4{
    grid-column: 4;
    background-color: #f5f5f5;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo_instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-color: pink;
}
.cajita5{
    grid-column: 5;
    background-color: #f5f5f5;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.circulo_email{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-color: yellow;
}

.boton_chat{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 2;
    
}
.circulo_chat{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    height: 70px;
    width: 70px;
    background-color: yellow;
}

/* Media Query para pantallas de 768px o menos */
@media (max-width: 768px) {
    .header{
        display: none; /* Ocultamos el menú normal para mostrar el de tipo hamburguesa */
    }

    /* Estilos para el icono de menú hamburguesa */
    .menu-icon {
        display: block; /* Muestra el icono de menú en pantallas pequeñas */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        
        border-radius: 50%;
        border: 1px solid black;
        cursor: pointer;
        position: fixed; /*propiedad que mantiene fijo el menu con scroll*/
        top: 30px;
        right: 20px;
        z-index: 100;
    }
    .menu-icon_img {
        background-color: pink;
    }

    /* Ajustes para ocultar imágenes en pantallas pequeñas */
    .imgSecunda, .imgTercera {
        display: none;
    }

    .header_nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        width: 100%;
        height: auto;
        background-color: pink;
        gap: 2rem;
        padding: 20px 0;
    }

    .header_nav a {
        font-size: 1.2rem;
    }
    .contenedor{
        width: 100%;
        height: auto;
    }
    .contenedor .inicio {
        width: 100%;
        height: auto;
        padding-top: 3rem;
    }
    .imgPrimera{
        width: 300px;
        height: 250px;
    }
    .Nosotros{
        width: 100%;
        height: auto;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Anybody', sans-serif;
        padding: 1rem 0;
    }
    .Galería {
        flex-direction: column;
        gap: 5px; /* Ajusta el espacio entre imágenes en pantallas pequeñas */
        padding: 10px;
        align-items: center; /* Centra el contenido en la pantalla */
    }

    .Galería .imgArriba{
        gap: 5px;
        height: auto;
        overflow: scroll; /* Evita desbordamiento */
        align-items: center; /* Centra las imágenes */
        height: auto;
    
    }
    .Galería .imgAbajo{
        display: flex;
        gap: 5px;
        height: auto;
        overflow: scroll; /* Evita desbordamiento */
        align-items: center; /* Centra las imágenes */
        height: auto;
    
    }

    .Galería img {
        width: 90%; 
        max-width: 300px; 
        height: auto; /* Mantiene la proporción de la imagen */
        object-fit: cover; /* Cubre el área disponible */
        border-radius: 10px; 
        
    }
}

